.projectSwiper {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 2rem 0;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .portfolioWrapper{
    width: 100%;
  }

  .projectWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .projectWrapper img{
    height: 100px;
    align-self: center;
    cursor: pointer;
  }
  
  .project {
    width: 29rem;
    height: auto;
    background-color: #313131;
    border-radius: 10px;
    align-content: center;
    padding: 20px;
    animation: project 0.8s ease;
  }

  @keyframes project {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  .imgWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
  }
  
  .project img.projectImage {
    margin: auto;
    display: flex;
    width: 100%;
    border-radius: 1rem;
  }

  
  .projectLink button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: #494949;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 0.95rem;
    gap: 3px;
  }
  
  .projectLink button:hover {
    background: #5e5d5d;
  }

  .projectDescription{
    display: flex;
    text-align: left;
    font-size: 14px;
    color: #ececec;
    margin-bottom: 10px;
  }

  .techStack{
    flex-wrap: wrap; 
    display: flex;
    cursor: pointer;
  }
  
  .techStack span {
    text-wrap: nowrap;
    background: #444;
    margin: 0.3rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    font-size: 0.85rem;
    line-height: 1rem;
  }

  .portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.portfolio h2{
    font-size: 2rem;
}

.project h3{
    text-align: left;
    font-size: 24px;
}

.spanWrapper{
   gap: 10px;
   height: 130px;
}

.projectContent{
    display: flex;
    justify-content: space-between; 
}

.projectInfo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 60px;
    width: 100%; 
}

.projectLink{
    align-self: center;
    background: #494949;
    border-radius: 10px;
    width: 7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    padding: 1px;
    text-wrap: nowrap;
}

.projectLink img{
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.projectLink h4{
    font-size: 0.7em;
}

  @media (max-width: 1220px){
  .swiper-button-prev {
   display: none !important;
  } 

  .swiper-button-next {
   display: none !important;
  } 
}

@media (max-width: 910px){
  .project{
   padding: 0.5rem; 
  }
}

@media (max-width: 760px){
  #projects{
    margin-bottom: 50px;
  }
  
  .project{
   padding: 0.5rem; 
   height: 25rem;
  }
}

@media (max-width:400px){

  .project{
    height: 20rem;
   }
   
  .projectInfo h3{
    font-size: 1rem;
  }

  .projectLink{
    width: 5.3rem;
    height: 1.4rem;
  }

  .projectLink img{
    height: 1.4rem;
    width: 1.3rem;
  }

  .projectLink button h4{
    font-size: 0.5rem;
  }

  .techStack span{
    margin: 0.2rem;
    padding: 0.3rem 0.4rem;
    font-size: 0.6rem;
  }
}