.wrapper{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.wrapper img{
    background-color: none;
    cursor: pointer;
    background: none;
    outline: none;
}

.wrapper h1{
    font-size: 1em;
    align-self: center;
    color: rgb(182, 180, 180);
    font-weight: 500;
}