.stackWrapper{
    background-color: #111;
    width: 100vw;
    height: 170vh;
    max-width: 100%;
    color: white;
    align-content: center;
}

@media (max-width:700px){
    .stackWrapper{
        height: 100%;
    }
}

/* .stackWrapper h1{
    margin-bottom: 1rem;
    text-align: left;
    margin-left: calc(50%);
    transform: translateX(-50%);
}

.stackWrapper p{
    margin-bottom: 2rem;
    text-align: left;
    margin-left: calc(50%);
    transform: translateX(-50%);
    color: gray;
} */

/* @media (max-width: 1440px) {
    .stackComponents{
        grid-template-columns: repeat(3, 0.5fr);
        grid-template-rows: repeat(3, 0.5fr);
        width: 50%;
        height: 50%;
        display: grid;
        gap: 1rem;
    }

    .projects{
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(3, 0.5fr);
        gap: 40px;
        width: 50%;
        height: 50%;
        display: grid;
        gap: 1rem;
    }

    .project{
        width: 25rem;
        height: 26rem;
        background-color: #313131;
        border-radius: 10px;
        align-content: center;
        padding: 20px;
    }

    .stackWrapper{
        background-color: #111;
        width: 100vw;
        height: 100%;
        max-width: 100%;
        color: white;
        margin-top: 0;
        align-content: center;
    }
  }

  @media (max-width: 1230px) {
    .projects{
        grid-template-columns: repeat(1, 0.5fr);
        grid-template-rows: repeat(3, 0.5fr);
        gap: 40px;
        width: 50%;
        height: 50%;
        display: grid;
        gap: 1rem;
    }

    .project{
        width: 30rem;
        height: 30rem;
        background-color: #313131;
        border-radius: 10px;
        align-content: center;
        padding: 20px;
    }
  }

  @media (max-width: 1024px) {
    .stackComponents{
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(4, 0.5fr);
        width: 50%;
        height: 50%;
        display: grid;
        gap: 1rem;
    }
  }

  @media (max-width: 780px) {
    .stackComponents{
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(4, 0.5fr);
        width: 50%;
        height: 50%;
        display: grid;
        gap: 1rem;
    }

    .project{
        width: 25rem;
        height: 26rem;
        background-color: #313131;
        border-radius: 10px;
        align-content: center;
        padding: 20px;
    }
  } */

  





